@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');


html{ 
    font-size: 62.5%;  
    background-color: var(--bgcolor-body);
}
body{
    font: 1.6rem "Roboto",sans-serif;
    margin: 0;
    color: var(--default-color);
    background-color: var(--bgcolor-body);
    letter-spacing: 0.1rem;
    line-height: 1.6;
}

img{
    display: inline-block;
    vertical-align: middle;
    object-fit: cover;
}
h1,h2,h3,h4,p,ol,ul,figure,dd{
    margin: 0;
    padding: 0;
    list-style-type: none;
    
}

:root{
    --color-main: #e9e9e9;
    --color-text-header: #fff;
    --bgcolor-header:#005a78;
    --bgcolor-body : #52a0bd;
    --bgcolor-blue-button: #1d71aa;
    --bgcolor-red-button: #c0392b;
    --bgcolor-green-button: #166a3d;
}
img{
    display: inline-block;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    object-fit: cover;
}


header h1 {
    font-family: 'Lobster', cursive;
    background-color: var(--bgcolor-header);
    color: #fff;
    padding : 1rem;
    text-align: center;
}

main, figure{
    background-color: #fff;
    max-width: 70rem;
    margin: 1rem auto;
    padding: 0.5rem;
}

section, footer {
    background-color: var(--body-color);
    max-width: 70rem;
    margin: auto;
    padding: 1rem;
    text-align: center;
}

section h2, figure h2{
    font-family: 'Lobster', cursive;
    color: var(--bgcolor-header);
    text-align: center;
    
} 


section ul li {
    display: inline-block;

}

footer{
    padding: 1.6rem;
    text-align: center;
    color: var(--color-text-header);
}

